*{
  text-decoration: none;
  list-style: none;
  color: white;
 }
 body{
   background: black;
   font-family: 'product sans';
 }
 .nav{
   width: 50%;
   height: 60px;
   background: rgba(39, 39, 39,0.7);
   position: fixed;
   left: 25%;
   top: 85%;
   color: white;
   padding-bottom: 10px;
   border: 1px solid white;
   border-radius: 50PX;
   display: flex;
   z-index: 10000;
 }
 .nav h2{
   position: relative;
   left: 5%;
   top: 5%;
   height: 40px;
 }
 .nav ul{
   display: flex;
   position: relative;
   left: 20%;
   text-transform: uppercase;
   font-weight: bold;
 }
 .nav li{
   margin: 10px;
 }
 #navbtn{
   padding: 10px;
   background: #262626;
   border-radius: 10px;
   transition: 0.2s;
 }
 #navbtn:hover{
   border-radius: 20px;
 }
 #navbtn:active{
   background: #181818;
 }
 .home{
   position: absolute;
   top: 70px;
   text-align: center;
   
 }
 .home h1{
   font-size: 100px;
   position: relative;
   left: 9%;
 }
 .homeul{
   display: flex;
 }
 .homeul li{
    margin: 10px;
    position: relative;
    left: 9%;
 }
 #contain{
   background: rgba(39, 39, 39,0.7);
   padding: 20px;
   width: fit-content;
   border-radius: 20px;
   border: 1px solid white;
   text-align: left;
   animation: 1s enter ease-in;
 }
 #contain code{
   background-color: rgb(21, 21, 21);
   padding: 10px;
   text-transform: uppercase;
   border-radius: 10px;
 }
 #contain:nth-child(2){
  background: rgba(63, 63, 63, 0.7);
 }