body{
border: 0;
margin: 0;
padding: 0;
font-family: "product sans";
transition: 0.2s;
overflow-x: hidden;
background-color:#fafafa ;
}
h1,h2,h3,h4,h5,h6{
    cursor: default;
}

/* Hide browser default scrollbar */
::-webkit-scrollbar {
  display: none;
}
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}